<div class="container">
	<h3>Understand and prevent the most common memory leaks in Angular application</h3>

	<a
		href="https://trungk18.com/experience/angular-common-memory-leak-use-case-observable">https://trungk18.com/experience/angular-common-memory-leak-use-case-observable</a>
	<div class="md-spacing"></div>
	<div class="alert alert-info">
		<p>Open stackblitz console to see what is happening. </p>
		<p>Click Relive and Destroy to see the console log. </p>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-collapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" routerLink="memory-leaked" routerLinkActive="active">1. Memory Leaked
					example</a>
				<a class="nav-item nav-link" routerLink="memory-leaked-fix" routerLinkActive="active">2. Fix Memory Leaked
					example</a>
				<a class="nav-item nav-link" routerLink="websocket" routerLinkActive="active">3. Websocket
					example</a>
			</div>
		</div>
	</nav>

	<hr />
	<router-outlet></router-outlet>
  <div class="md-spacing"></div>

  <hr />
  For clarity and consistency when building UI, please read this <a target="_blank"
	href="https://github.com/trungk18/front-end-editorial-style-guide">front-end-editorial-style-guide</a>
</div>